.Profile {
    text-align: center;
    margin-bottom: 40px;
}

#profile_img {
    width: 100px;
    height: 100px;
    /* display: block; */
    border-radius: 50%;
}

#name {
    margin: 10px 0;
}

.usernames span {
    padding: 10px;
}

.Links {
    text-align: center;
}

.btn {
    display: block;
    text-decoration: none;
    color: #101828;
    background-color: #EAECF0;
    font-weight: 500;
    text-align: center;
    text-transform: capitalize;
    /* height: 50px; */
    padding: 15px;
    margin-bottom: 15px;
    border-radius: 5px;
}

.links_footer {
    margin-top: 30px;
}

.links_footer .social_link {
    display: inline-block;
    text-decoration: none;
    padding: 10px;
    
}

.links_footer .social_link img {
    width: 25px;
}

.Footer {
    margin-top: 30px;
}

.Footer p {
margin: 10px 0;
}

@media screen and (min-width: 768px)  {
    .Footer {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}